* {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Chakra Petch";
  background: #121212;
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;
  animation: move 4s linear infinite;
}

body.light-mode {
  background: #ffffff;
  background: linear-gradient(
    135deg,
    #ffffff 25%,
    #f0f0f0 25%,
    #f0f0f0 50%,
    #ffffff 50%,
    #ffffff 75%,
    #f0f0f0 75%,
    #f0f0f0
  );
  background-size: 40px 40px;
  color: black;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: 80vh;
  width: 100%;
}

.halaman {
  overflow-y: auto;
  height: 80vh;
  width: 100%;
  scrollbar-width: none;
}

#home, #about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: justify;
}

body.light-mode .text-light {
  color: black !important;
}

body.light-mode .img-thumbnail {
  background-color: #000;
}

body.light-mode button {
  background: #000;
  color: #fff;
}

.nav-pills .nav-link {
  color: #fff;
}

body.light-mode .nav-link {
  color: #000;
}

.nav-pills .nav-link.active {
  background-color: #fff;
  color: #000;
}

body.light-mode .nav-pills .nav-link.active {
  background-color: #000;
  color: #fff;
}

body.light-mode .text-bg-light {
  background-color: #000 !important;
  color: #fff !important;
}

#mode-toggle {
  background: none;
}

@media (max-width: 575.98px) {
  .img-thumbnail {
    width: 247.5px;
  }
}